table {
	margin : 0 auto;
	padding : 0 auto;
}
img {
	width:200px;
	height:200px;
	border : 2px solid black;
	border-radius: 50%;
}
#1inboon {
	width:200px;
	height:200px;
	border : 2px solid black;
	border-radius: 50%;
}

#menu{
	color : red;
}